@import url('https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Karla', sans-serif;
  max-width: 1400px;
  margin: 0 auto;
  font-size: 35px;
}

/***** Header *****/
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}
.playerBar { 
  width: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.gameStatus { 
  width: 40%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
.dealerBar { 
  width: 30%;
  border: 1px solid black;
  display: flex;
  justify-content: center;
}
/***** /Header *****/
/***** Main *****/
main {
  height: 500px;
  border: 1px solid black; 
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}
#hand {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; 
}
/***** /Main *****/
/***** Footer *****/
footer {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}
.buttons {
  height: 75px;
  width: 300px;
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.hitButton {
  transition-duration: 0.4s;
  font-size: 50px;
}
.hitButton:hover {
  cursor: pointer;
}
.standButton {
  transition-duration: 0.4s;
  font-size: 50px;
}
.standButton:hover {
  cursor: pointer;
}
.statistics {
  height: 100px;
  display: flex;
}
.stats {
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/***** /Footer *****/